<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @organization.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Billing type:</strong>
  <%= @organization.billing_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @organization.start_date %>
</p>

<p>
  <strong>Dead date:</strong>
  <%= @organization.dead_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @organization.end_date %>
</p>

<p>
  <strong>Git url:</strong>
  <%= @organization.git_url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @organization.status %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
